<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

		<!-- Compiled and minified JavaScript -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<link rel="stylesheet/less" type="text/css" href="/less/styles.less" />
		<script src="//cdn.jsdelivr.net/npm/less@3.13"></script>

		<script
			src="https://cdn.socket.io/3.1.3/socket.io.min.js"
			integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
			crossorigin="anonymous"
		></script>

		<style></style>

		<script>
			// Or with jQuery
			$(document).ready(function () {
				const socket = io();

				// $(".sidenav").sidenav();
				// $(".modal").modal();
				// $("select").formSelect();
				// var Modalelem = document.querySelector(".modal-error");
				// var instance = M.Modal.init(Modalelem);
				// if ($(".form_errors").val() == "true") {
				// 	instance.open();
				// }
				// if ($(".notification-message").val() != "") {
				// 	M.toast({ html: $(".notification-message").val(), classes: $(".notification-style").val() });
				// }

				$("textarea").focus();

				$(".add-choice").click(function () {
					let html = ``;
					html += `<div class="row">`;
					html += `<li>`;
					html += `	<div class="input-field col s8">`;
					html += `		<input  id="choice" name="choice[]" type="text" class="validate">`;
					html += `		<label for="choice">Choice</label>`;
					html += `	</div>`;
					html += `	<div class="col s4">`;
					html += ` 		<button type="button" class=" btn btn-danger delete-choice"><i class="material-icons">delete_forever</i></button>`;
					html += `	</div>`;
					html += `</li>`;
					html += `</div>`;

					// html += `<row><li>ivan</li></row>`;

					$(".choices-list").append(html);
				});

				$(document).on("click", ".delete-choice", function () {
					// alert("clikc");
					console.log($(this).parent().parent().parent());
					$(this).parent().parent().parent().remove();
				});

				// with socket

				$(".start-collecting-button").click(function () {
					// alert("start collecting data");
					socket.emit("start-collecting-data", { message: "start collecting data trigger" });
				});

				socket.on("start-collecting-data-response", function (data) {
					console.log(data.message);
					$(".answer-poll").removeClass("disabled");
				});
			});
		</script>
		<title>Capstone</title>
	</head>
</html>
