<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

		<!-- Compiled and minified JavaScript -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<link rel="stylesheet/less" type="text/css" href="/less/styles.less" />
		<script src="//cdn.jsdelivr.net/npm/less@3.13"></script>

		<script
			src="https://cdn.socket.io/3.1.3/socket.io.min.js"
			integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
			crossorigin="anonymous"
		></script>

		<style></style>

		<script>
			// Or with jQuery
			$(document).ready(function () {
				$(".modal").modal();
				const socket = io();

				socket.emit("get_poll_application_session", { message: "get poll application session" });
				socket.on("collecting_response_state", function (data) {
					console.log("tawag please");
					console.log(data);
					if (data.state == "true") {
						$(".stop-collecting-button").show();
						$(".start-collecting-button").hide();
						$(".answer-poll").removeClass("disabled");
					} else if (data.state == "false") {
						$(".stop-collecting-button").hide();
						$(".start-collecting-button").show();
						$(".answer-poll").addClass("disabled");
					}
				});

				$(".stop-collecting-button").hide();

				$("textarea").focus();

				$(".add-choice").click(function () {
					let html = ``;
					html += `<div class="row">`;
					html += `<li>`;
					html += `	<div class="input-field col s8">`;
					html += `		<input  id="choice" name="choice[]" type="text" class="validate">`;
					html += `		<label for="choice">Choice</label>`;
					html += `	</div>`;
					html += `	<div class="col s4">`;
					html += ` 		<button type="button" class=" btn btn-danger delete-choice"><i class="material-icons">delete_forever</i></button>`;
					html += `	</div>`;
					html += `</li>`;
					html += `</div>`;

					// html += `<row><li>ivan</li></row>`;

					$(".choices-list").append(html);
				});

				$(document).on("click", ".delete-choice", function () {
					// alert("clikc");
					console.log($(this).parent().parent().parent());
					$(this).parent().parent().parent().remove();
				});

				// with socket

				// $(".start-collecting-button").click(function () {
				// 	socket.emit("start-collecting-data", { message: "start collecting data trigger" });
				// 	$(this).hide();

				// 	$(".stop-collecting-button").show();

				// });

				$(".stop-collecting-button-main").click(function () {
					// $(this).hide();

					setTimeout(() => {
						// Simulate an HTTP redirect:
						window.location.replace("https://413eb019ae5b.ngrok.io/create_poll");
					}, 500);
					$(".stop-collecting-button").hide();
					$(".start-collecting-button").show();
					socket.emit("stop-collecting-data", { message: "stop collecting data trigger" });
					// return false;
				});
				$(".stop-collecting-button").click(function () {
					// $(this).hide();
					// $(".start-collecting-button").show();
					// socket.emit("stop-collecting-data", { message: "stop collecting data trigger" });
				});

				socket.on("start-collecting-data-response", function (data) {
					console.log(data.message);
					$(".answer-poll").removeClass("disabled");
				});

				var Modalelem = document.querySelector(".stop-collecting");
				var instance = M.Modal.init(Modalelem);
				socket.on("stop-collecting-data-response", function (data) {
					console.log(data.message);
					$(".answer-poll").addClass("disabled");

					instance.open();
				});

				socket.on("student-enter-the-poll-response", function (data) {
					$(".live-count").html(`${data.number_of_students} live`);
					console.log(`student count ${data.number_of_students}`);
				});

				// socket.on("update-poll-data", function (data) {
				// 	console.log(`hi`);
				// 	console.log(data);
				// });

				// socket.on("update-vote-count", function (data) {
				// 	console.log(`hi`);
				// 	$(".live-vote-count").html(`${data.total_vote} voted`);
				// 	console.log(data);
				// });

				socket.on("update-vote-count", function (data) {
					$.get(`https://413eb019ae5b.ngrok.io/get_vote_count_json`, function (response) {
						console.log(response);
						$(".live-vote-count").html(`${response.total_vote} voted`);
					});
				});
			});
		</script>
		<title>Capstone</title>
	</head>
</html>
