<!-- Modal Structure -->
<div id="stop-collecting-prompt" class="modal card">
	<div class="modal-content">
		<h4>Your Student can now see the last poll data.</h4>
		<p>When you are done having your students see the last poll data,click on the button below to start over and create a new poll question.</p>
	</div>
	<div class="modal-footer">
		<!-- <a href="/create_poll" class="modal-close waves-effect waves-green btn-flat stop-collecting-button-main">Start a new poll question</a> -->
		<button type="button" class="modal-close waves-effect waves-green btn-flat stop-collecting-button-main">Start a new poll question</button>
	</div>
</div>

<!-- for student -->
<div id="alert-stop-collecting-vote" class="modal card">
	<div class="modal-content">
		<h4>Modal Header</h4>
		<p>A bunch of text</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
	</div>
</div>
