<%- include('includes/head')%>
	<body>
		<%- include('includes/nav')%>

		<div class="mt-2 container">
			<!-- Page Layout here -->

            <div class="row mt-2">
                <div class="col s12">
                    <div class="card p-2">
                        <h3>Capstone: Poll Application</h3>
                        <div class="row">
                            <div class="col s12 m9">
                                <p>A web application that allows you to create interactive polls quickly and easily.</p>

                                <p>This web application is created using the following technology:</p>
                                <ul class="ml-2">
                                    <li>Nodejs</li>
                                    <li>Express</li>
                                    <li>EJS</li>
                                    <li>Redis</li>
                                    <li>Materializecss</li>
                                </ul>
                            </div>

                            <div class="col s12 m3">
                                <img class="img-fluid" src="https://img2.pngio.com/download-free-png-poll-png-6-png-image-dlpngcom-poll-png-800_800.jpg" alt="">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col s12 button-link-group">
                                <a href="/create_poll" class="btn button-primary"> <i class="large material-icons right">poll</i> Create a poll</a>
                                <a href="/student_poll" class="btn button-primary disabled answer-poll" ><i class="large material-icons right">poll</i> Answer a poll question</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


          
		
		</div>

        <!-- <footer>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <p>Created By: Ivan Christian Jay Funcion</p>
                    </div>
                </div>
            </div>
        </footer> -->
		<script>
            
        </script>

	</body>
</html>