<%- include('../includes/head')%>
	<body>
		<%- include('../includes/nav')%>

		<div class="mt-2 container">
			<!-- Page Layout here -->

            <div class="row mt-2">
                <div class="col s12">
                    <div class="card p-2">
                        <h3>Create Poll</h3>
                        <form action="/create_poll_process_ajax" method="POST">
                            <div class="row">
                               
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="question" name="question" class="materialize-textarea"></textarea>
                                        <label for="question">Enter Your Question here</label>
                                    </div>
                                </div>

                                <h5>Choices</h5>
                                <ol class="choices-list mt-2">
                                  
                                </ol>
                                
                                <div class="row">
                                    <div class="col s12">
                                    <button type="button" class="btn button-primary add-choice"><i class="material-icons right">add_circle</i>Add choice</button>
                                    </div>
                                </div>
                            
                            </div>
                            <!-- <button type="submit" class="btn button-primary"><i class="material-icons right">send</i>Submit</button> -->
                            <button type="submit" class="btn button-primary start-collecting-button btn-large">Start collecting response (<span class="live-count">0 live</span>)</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="row mt-2">
                <div class="col s12">
                    <div class="card p-2 button-group-for-collecting">
                        <!-- <button type="button" class="btn button-primary start-collecting-button btn-large">Start collecting response (<span class="live-count">0 live</span>)</button> -->
                        <!-- <button type="button" class="btn btn-danger stop-collecting-button btn-large">Stop collecting response (<span class="live-vote-count">0 voted</span>,<span class="live-count">0 live</span>)</button> -->

                        <a role="button" class="btn btn-danger stop-collecting-button btn-large modal-trigger" href="#stop-collecting-prompt">Stop collecting response (<span class="live-vote-count">0 voted</span>,<span class="live-count">0 live</span>)</a>

                        <%- include('../includes/modal')%>

                        <!-- create new poll -->
                        <!-- <button type="button" class="btn button-primary start-collecting-button btn-large">Create new poll</button> -->
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col s12">
                    <div class="card p-2">
                      <h4>Responses</h4>
                      <p>Invite your students to this <i>https://413eb019ae5b.ngrok.io/student_poll</i>. Once students join this link, you can start collecting responses</p>

                      <p>view data  <a href="https://413eb019ae5b.ngrok.io/teacher_response_data">here</a></p>
                    </div>
                </div>
            </div>
		
		</div>

		<script>
            $(document).ready(function(){
                const socket = io();
                $("form").submit(function(){
                    let children = $(".choices-list").children();
                    console.log(children);

                    if($("#question").val() == ""){
                        M.toast({ html: `no question` ,classes: `btn-danger`});

                    }else{
                        if(children.length < 2){
                            M.toast({ html: `choices should be greater than 1` ,classes: `btn-danger`});
                        }else{
                            // M.toast({ html: `pass it` ,classes: `button-primary`});

                            // socket.emit("start-collecting-data", { message: "start collecting data trigger" });
                            // $(".start-collecting-button").hide();
                        
                            // $(".stop-collecting-button").show();

                            $.post($(this).attr("action"),$(this).serialize(),function(response){
                                console.log(response);
                                M.toast({ html: response.message ,classes: `button-primary`});
                                socket.emit("start-collecting-data", { message: "start collecting data trigger" });
                                $(".start-collecting-button").hide();
                                $(".stop-collecting-button").show();

                            },"json");

                            $(".choices-list").html(``);
                            $(this).trigger("reset");
                        }
                    }

                    return false;
                    // $.post($(this).attr("action"),$(this).serialize(),function(response){
                    //     console.log(response);
                    //     M.toast({ html: response.message ,classes: `button-primary`});
                    // },"json");

                    // $(".choices-list").html(``);
                    // $(this).trigger("reset");
                   
                });
            });
        </script>


    --></body>
</html>